<script src="/bookingPage.js"></script>

{{#if bookingCreated}}
<div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
    New booking has been succesfully created.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if notesUpdated}}
<div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
    Booking notes have been succesfully updated.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if bookingDeleted}}
<div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
    Booking has been succesfully deleted.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

<div class="row mt-4">
    <div class="col-lg-4">
        <div class="card bg-light mb-3">
            <div class="card-header">Book an Appointment</div>
            <div class="card-body">
                <form action="/book" method="POST">
                    <div class="form-group">
                        <label for="profId">Name of Professional</label>
                        <select id="profId" class="form-control" name="profId" required>
                            {{#each prof}}
                            <option value="{{profId}}">{{fname}} {{lname}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" name="location" readonly>
                    </div>
                    <div class="form-group">
                        <label for="specialty">Specialty</label>
                        <input type="text" class="form-control" id="specialty" name="specialty" readonly>
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                    </div>
                    <div class="form-group">
                        <label for="time">Time</label>
                        <select id="time" class="form-control" name="time" required>
                            {{#each timeSelection}}
                            <option value="{{time}}">{{time}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="notes">Notes</label>
                        <textarea id="notes" class="form-control" name="notes"> </textarea>
                    </div>

                    <div class="form-group row">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Book Appointment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card bg-light mb-3">
            <div class="card-header">Bookings for Selected Professional</div>
            <div class="card-body" id="profBookings">
                <p class="card-text">No bookings found for selected professional.</p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header">My Upcoming Bookings</div>
            {{#if userBookings}}
            <div class="card-body">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Location</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each userBookings}}
                        <tr>
                            <td>{{fname}} {{lname}}</a></td>
                            <td>{{bookingDate}}</td>
                            <td>{{bookingTime}}</td>
                            <td>{{location}}</td>
                            <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#booking-{{bookingId}}">
                                    View
                                </button></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{else}}
            <div class="card-body">
                <p class="card-text">You have no upcoming bookings.</p>
            </div>
            {{/if}}
        </div>
    </div>
</div>

{{#each userBookings}}
<div class="modal fade" id="booking-{{bookingId}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Booking Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Location</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{fname}} {{lname}}</a></td>
                                <td>{{bookingDate}}</td>
                                <td>{{bookingTime}}</td>
                                <td>{{location}}</td>
                                <td><textarea id="updatedNotes" class="form-control" name="updatedNotes">{{notes}}</textarea></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="bookingId" value="{{bookingId}}">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" formaction="/updateNotes">Update Notes</button>
                    <button type="submit" class="btn btn-danger" formaction="/deleteBooking">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/each}}