<script src="/bookingPage.js"></script>

<div class="row mt-4">
    <div class="col-sm-4">
        <div class="card bg-light mb-3">
            <div class="card-header">Book an Appointment</div>
            <div class="card-body">
                <form action="/book" method="POST">
                    <div class="form-group">
                        <label for="profId">Name of Professional</label>
                        <select id="profId" class="form-control" name="profId" required>
                            {{#each prof}}
                            <option value="{{profId}}">{{fname}} {{lname}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" readonly>
                    </div>
                    <div class="form-group">
                        <label for="specialty">Specialty</label>
                        <input type="text" class="form-control" id="specialty" readonly>
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" required>
                    </div>
                    <div class="form-group">
                        <label for="time">Time</label>
                        <select id="time" class="form-control" name="time" required>
                            {{#each timeSelection}}
                            <option value="{{time}}">{{time}}</option>
                            {{/each}}
                        </select>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Book Appointment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card bg-light mb-3">
            <div class="card-header">Bookings for Selected Professional</div>
            <div class="card-body">
                {{!-- <h5 class="card-title">Light card title</h5> --}}
                <p class="card-text">Bookings here...</p>
            </div>
        </div>
        <div class="card bg-light mb-3">
            <div class="card-header">My Upcoming Bookings</div>
            <div class="card-body">
                {{!-- <h5 class="card-title">Light card title</h5> --}}
                <p class="card-text">Bookings here...</p>
            </div>
        </div>
    </div>
</div>